$header-bg: #474747;
$footer-bg: #474747;
$main-bg: #545454;

$form-header-bg: #a5a5a5;
$form-header-color: #5f5f5f;
$form-bg: #c4c4c4;

$input-placeholder: #353535;
$select-item-bg: #b4f0f8;

$success: #519945;
$success-hover: #46803c;
$error: #d13838;

